p[correct~='0']::before{
    content: "✘";
    padding-right: 5px;
}
p[correct~='1']::before{
    content: "✔";
    padding-right: 5px;
}
img{
    height: 150px;
}
.question{
    border-bottom: 2px solid black;
    page-break-inside: avoid;
}
