.btn i {
  padding-left: 25%;
}

.material-placeholder{
  width:150px;
}

.questionimg{
  width: 150px;
  display: inline;
  margin-left: 2vw;
}


.questionsettings{
  margin-left: 7vw;
}

.questionsettings a {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
