.questionsettings .btn i {
 margin-left: 1vw;
}

.material-placeholder{
  width:150px;
}

.questionimg{
  width: 150px;
  display: inline;
  margin-left: 2vw;
}


.questionsettings{
  margin-left: 7vw;
}

.questionsettings a {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

li.question .collapsible-header{
  border-color: black;
}

h1{
  margin-top:0.67em;
}

.tabel_school tr td a{
  margin-left: 30px;
}
.tabel_school tr td a i{
  margin-right: 23px;
}

.side-nav li a{
  padding: 0 1vw;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
  padding: 0 1vw;
}

.side-nav .collapsible-body{
  padding: 0 0.5vw;
}

.side-nav{
  width:15vw;
}

.container{
  width:60vw;
}

.side-nav li>a{
  font-size: 1em;
}

