.btn i {
  padding-left: 25%;
}

.material-placeholder{
  width:150px;
}

.questionimg{
  width: 150px;
  display: inline;
  margin-left: 2vw;
}


.questionsettings{
  margin-left: 7vw;
}

.questionsettings a {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

li.question .collapsible-header{
  border-color: black;
}

.tabel_school tr td a{
  margin-left: 30px;
}
.tabel_school tr td a i{
  margin-right: 23px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
  padding:0 32px;
}